@import "variables";

.contact-btn {
  outline: none !important;
  background-color: darken($right-background-color, 10%);

  &:hover {
    background-color: #FFF;
    color: darken($right-background-color, 10%);
  }
}

.char-count {
  position: absolute;
  top: -1.25rem;
  right: 0.75rem;
  font-size: 50%;
}