@import "variables";
@import "toolbar";
@import "~bootstrap/scss/mixins/breakpoints";

header.site-header {
  margin: 0;
  padding: 0;

  .sub-title {
    font-size: 90%;
    letter-spacing: 0.1rem;
  }

  .left, .right {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .left {
    background-color: $left-background-color;
    order: 1;
  }

  .right {
    background-color: $right-background-color;
    order: 3;
    text-align: center;

    @include media-breakpoint-up('md') {
      order: 2;
    }
  }

  .toolbar-container {
    order: 2;

    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 30vw;
      background-color: #a8dde6;
    }

    &:before {
      left: -30vw;
    }

    &:after {
      right: -30vw;
    }

    @include media-breakpoint-up('md') {
      order: 3;
    }
  }

  .translation-warning {
    order: 3;
    font-size: 75%;
    background-color: #f7a480;
    padding: 0.5rem;
  }
}