@import "variables";
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap/scss/mixins/breakpoints";

html, body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  background-color: $site-background-color;
}

body {
  overflow-x: hidden;
}

.site-container {
  padding: 0;

  @include media-breakpoint-down('sm') {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}

.site-body {
  position: relative;
  margin: 0;
  padding: 0;

  .left {
    background-color: $left-background-color;
  }

  .right {
    background-color: $right-background-color;
  }
}

.sidebar-column {
  padding: 0;
  background-color: $right-background-color;
}

@import "header";
@import "contact";
@import "content";
@import "sidebar";
@import "education";
@import "footer";